html {
  background-color: #669eba
}
.list {
  background-color: rgba(41, 59, 89)
}
.nav {
  height: 45px;
  background-color: #8699b7;
  display: inline-block;
}
.nav li {
  list-style: none;                          
}

